
@model List<MVC_odev.Models.EmployeeModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>EmployeeId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Title</th>
            <th>Adress</th>
            <th>City</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Title</td>
                <td>@item.Adress</td>
                <td>@item.City</td>
            </tr>
        }
    </table>
</body>
</html>
